<!-- Story Section -->
<section id="story" style="padding-top:50px">
    <div class="container">
        <div id="DateCountdown"></div>
        {% for row in data.pages|batch(3) %}
        <div class="row text-center">
            {% for page in row %}
            <div class="col-md-4">
                <h4 class="service-heading">
                    {% if page.uri %}
                      <a href="{{ page.uri }}">{{ page.meta_title ? page.meta_title : page.title }}</a>
                    {% else %}
                      {{ page.title }}
                    {% endif %}
                </h4>
                <p><em>{{ page.updated_date is empty ? page.post_date|date("M j, Y") : page.updated_date|date("M j, Y") }}</em></p>
                <p class="text-muted">{{ page.meta_description }}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
