<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="author" content="{{ meta.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ meta.title }}">
    <meta property="og:type" content="">
    <meta property="og:url" content="{{ env.host }}{{ data.page.uri }}">
    <meta property="og:image" content="apple-touch-icon.png">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="{{ meta.description }}">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="{{ env.css_build_path }}/{{ env.assets['common.css'] }}">
    <link rel="stylesheet" href="{{ env.css_build_path }}/{{ env.assets['main.css'] }}">

    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
</head>
