<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">The start of something awesome!</div>
            <div class="intro-heading">Banerelle</div>
            <div class="intro-lead-in" style="font-size:18px;margin-top:-20px">Shayna Bane has agreed to wed Ryan Pastorelle!</div>
            <a href="#rsvp" class="btn btn-primary btn-xl page-scroll">RSVP</a>
            <a href="#ourStoryModal" data-toggle="modal" class="btn btn-warning btn-xl" data-ga-event>Our Story</a>
            <br />
            <h5>
                <a href="#wedding" class="page-scroll facts-bounce bounce">
                    Wedding Facts
                    <i class="glyphicon glyphicon-menu-down bounce"></i>
                </a>
            </h5>
        </div>
    </div>
</header>
