<!-- Our Story Modal -->
<div class="portfolio-modal modal fade" id="ourStoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body center-block">

                            <!-- Post Content -->
                            <article>
                                <h2>{{ data.story_page.title }}</h2>
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ data.story_page.article|raw }}
                                    </div>
                                </div>
                            </article>

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
