<!-- Team Section -->
<section id="party" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wedding Party</h2>
                <h3 class="section-subheading text-muted">With the bride &amp; groom are some most excellent friends.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e15/13652112_1712300072369039_1198439534_n.jpg" class="img-responsive img-circle" alt="">
                    <h4>Lindsey Payton</h4>
                    <p class="text-muted">Bridesmaid</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/010H0s2u2Z3z41203E1l/1914292_10151313827865628_200378223_n.jpg" class="img-responsive img-circle" alt="">
                    <h4>Aimee Holley</h4>
                    <p class="text-muted">Bridesmaid</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e15/14026697_929581257171841_1537419624_n.jpg" class="img-responsive img-circle" alt="">
                    <h4>Bill Kuehn</h4>
                    <p class="text-muted">Bridesman</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/472W0u21123r3v460g0r/bock.jpg" class="img-responsive img-circle" alt="">
                    <h4>Jon Bockwich</h4>
                    <p class="text-muted">Groomsman</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e15/14099659_1762289277370178_1917523166_n.jpg" class="img-responsive img-circle" alt="">
                    <h4>Justin Bennett</h4>
                    <p class="text-muted">Groomsman</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://d3vv6lp55qjaqc.cloudfront.net/items/462m1D0Y3e1i382a073j/toth-pretzel.jpg" class="img-responsive img-circle" alt="">
                    <h4>Chris Toth</h4>
                    <p class="text-muted">Groomsman</p>
                </div>
            </div>
        </div>
    </div>
</section>
