<!-- Team Section -->
<section id="party" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wedding Party</h2>
                <h3 class="section-subheading text-muted">With the bride &amp; groom are some most excellent friends.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/images/party-lindsey.jpg" class="img-responsive img-circle" alt="">
                    <h4>Lindsey Payton</h4>
                    <p class="text-muted">Bridesmaid</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/images/party-bill.jpg" class="img-responsive img-circle" alt="">
                    <h4>Bill Kuehn</h4>
                    <p class="text-muted">Bridesman</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/images/party-aimee.jpg" class="img-responsive img-circle" alt="">
                    <h4>Aimee Holley</h4>
                    <p class="text-muted">Bridesmaid</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/images/party-jon.jpg" class="img-responsive img-circle" alt="">
                    <h4>Jon Bockwich</h4>
                    <p class="text-muted">Groomsman</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/images/party-justin.jpg" class="img-responsive img-circle" alt="">
                    <h4>Justin Bennett</h4>
                    <p class="text-muted">Groomsman</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/images/party-chris.jpg" class="img-responsive img-circle" alt="">
                    <h4>Chris Toth</h4>
                    <p class="text-muted">Groomsman</p>
                </div>
            </div>
        </div>
    </div>
</section>
