<div class="well">
    <h4>Quick Links</h4>
    <div class="row">
        <div class="col-xs-6">
            <a href="/wedding">Our Wedding</a>
        </div>
        <div class="col-xs-6">
            <a href="/our-story">Our Story</a>
        </div>
        <div class="col-xs-6">
            <a href="/wedding-details">Accommodations</a>
        </div>
        <div class="col-xs-6">
            <a href="/photos">Photos</a>
        </div>
        <div class="col-xs-6">
            <a href="/registry">Registry</a>
        </div>
        <div class="col-xs-6">
            <a href="/guest-book">Guest Book</a>
        </div>
    </div>
    <!-- /.row -->
</div>

<a href="/rsvp" class="btn btn-block btn-lg btn-primary">
  <span class="glyphicon glyphicon-envelope"></span>&nbsp;
  RSVP
</a>
