<div class="well">
    <h4>Quick Links</h4>
    <div class="row">
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li><a href="/wedding-details">Wedding Details</a>
                </li>
                <li><a href="/registry">Registry</a>
                </li>
                <li><a href="/things-to-do">Things To Do</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li><a href="/our-story">Our Story</a>
                </li>
                <li><a href="/guest-book">Guest Book</a>
                </li>
                <li><a href="/rsvp">RSVP</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
