<!-- About Section -->
<section id="wedding" style="padding-top:25px">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">We're Getting Married</h3>
                <h3 class="section-subheading text-muted sr-only">Saturday July 15 2017</h3>
            </div>
        </div>
        <div id="DateCountdown"></div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <a href="https://www.addevent.com/dir/?client=aGaZMVxnfzZNdtrgUmhf25032&start=07%2F15%2F2017+04%3A30+PM&end=07%2F15%2F2017+11%3A59+PM&title=Banerelle%20(Shayna%20%26%20Ryan)%20Wedding&location=White%20Birch%20Barn%207180%20W%20Smith%20Rd%2C%20Medina%2C%20OH%2044256&date_format=MM%2FDD%2FYYYY&timezone=America%2FNew_York" target="_blank" data-ga-event>
                                <img class="img-circle img-responsive" src="/images/timeline-wedding.jpg" alt="">
                                <span class="sr-only">Add to Calendar</span>
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Wedding @ 4:30p</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Outdoor ceremony &amp; cocktail hour.<br />Adult reception, dinner &amp; dancing.</p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="https://www.addevent.com/dir/?client=aGaZMVxnfzZNdtrgUmhf25032&start=07%2F15%2F2017+04%3A30+PM&end=07%2F15%2F2017+11%3A59+PM&title=Banerelle%20(Shayna%20%26%20Ryan)%20Wedding&location=White%20Birch%20Barn%207180%20W%20Smith%20Rd%2C%20Medina%2C%20OH%2044256&date_format=MM%2FDD%2FYYYY&timezone=America%2FNew_York" class="btn btn-success btn-lg" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        Add to Calendar
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <a href="https://goo.gl/maps/43A2iDx2PsG2" target="_blank" data-ga-event>
                                <img class="img-circle img-responsive" src="/images/timeline-location.jpg" alt="">
                                <span class="sr-only">Get Directions</span>
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Location</h4>
                                <h4 class="subheading">
                                    <a href="https://goo.gl/maps/43A2iDx2PsG2" target="_blank" data-ga-event>
                                        White Birch Barn
                                    </a>
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <a href="https://goo.gl/maps/43A2iDx2PsG2" target="_blank" data-ga-event>7180 W Smith Rd, Medina, OH 44256</a>
                                </p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="https://goo.gl/maps/43A2iDx2PsG2" class="btn btn-success btn-lg" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                        Get Directions
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <a href="http://bit.ly/banerellehotel" target="_blank" data-ga-event>
                                <img class="img-circle img-responsive" src="/images/timeline-hotel.jpg" alt="">
                                <span class="sr-only">Book Hotel</span>
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Hotel Accommodations</h4>
                                <h4 class="subheading">
                                    <a href="http://bit.ly/banerellehotel" target="_blank">
                                        Fairfield Inn Medina
                                    </a>
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <a href="http://bit.ly/banerellehotel" target="_blank">Group Code for Pastorelle-Bane Wedding: <code>PBW(S)</code></a>
                                    (112/night when you booked by June 15th)
                                </p>
                                <p class="text-muted">Uber is a great choice for transport. Sign up with invite code <code>ryanp1546</code> for your first ride free.</p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="http://bit.ly/banerellehotel" class="btn btn-success btn-lg" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-bed"></span>
                                        Book Hotel
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <a href="http://registered.at/banerelle" target="_blank" data-ga-event>
                                <img class="img-circle img-responsive" src="/images/timeline-registry.jpg" alt="">
                                <span class="sr-only">View Registry</span>
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Our Registry</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    We are registered with Crate &amp; Barrel and Amazon.
                                </p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="http://registered.at/banerelle" class="btn btn-success btn-lg" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-gift"></span>
                                        View Registry
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/images/timeline-todo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Things To Do</h4>
                                <h4 class="subheading">Find yourself with a free morning?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    &bull; Grab Coffee at Cool Beans Cafe in the Medina Square<br />
                                    &bull; Get smoked wings &amp; craft beer from Lager Heads Brewing Company on Abbeyville Rd.<br />
                                    &bull; Have an Echo? Ask Alexa for a <a href="https://www.amazon.com/dp/B06Y13VGLG" target="_blank" data-ga-event>Wedding Fact</a>
                                        &amp; enable the <a href="https://www.amazon.com/dp/B06Y3M9C33" target="_blank">Banerelle Countdown</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/images/timeline-bottom.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
