<!-- About Section -->
<section id="wedding" style="padding-top:25px">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">We're Getting Married</h3>
                <h3 class="section-subheading text-muted sr-only">Saturday July 15 2017</h3>
            </div>
        </div>
        <div id="DateCountdown"></div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 text-center" style="margin-bottom:20px">
                <a href="#wedding" class="btn btn-primary page-scroll">Time</a>
                <a href="#location" class="btn btn-default page-scroll">Location</a>
                <a href="#hotel" class="btn btn-default page-scroll">Hotel</a>
                <a href="#registry" class="btn btn-default page-scroll">Registry</a>
                <a href="#more" class="btn btn-default page-scroll">More + FAQ</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <a href="https://www.addevent.com/dir/?client=aGaZMVxnfzZNdtrgUmhf25032&start=07%2F15%2F2017+04%3A30+PM&end=07%2F15%2F2017+11%3A59+PM&title=Banerelle%20(Shayna%20%26%20Ryan)%20Wedding&location=White%20Birch%20Barn%207180%20W%20Smith%20Rd%2C%20Medina%2C%20OH%2044256&date_format=MM%2FDD%2FYYYY&timezone=America%2FNew_York" target="_blank" data-ga-event>
                                <img class="img-circle img-responsive" src="/images/timeline-wedding.jpg" alt="">
                                <span class="sr-only">Add to Calendar</span>
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Wedding @ 4:30p</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Outdoor ceremony &amp; cocktail hour.<br />Adult reception, dinner &amp; dancing.</p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="https://www.addevent.com/dir/?client=aGaZMVxnfzZNdtrgUmhf25032&start=07%2F15%2F2017+04%3A30+PM&end=07%2F15%2F2017+11%3A59+PM&title=Banerelle%20(Shayna%20%26%20Ryan)%20Wedding&location=White%20Birch%20Barn%207180%20W%20Smith%20Rd%2C%20Medina%2C%20OH%2044256&date_format=MM%2FDD%2FYYYY&timezone=America%2FNew_York" class="btn btn-success btn-lg" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        Add to Calendar
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted" id="location">
                        <div class="timeline-image">
                            <a href="https://goo.gl/maps/43A2iDx2PsG2" target="_blank" data-ga-event>
                                <img class="img-circle img-responsive" src="/images/timeline-location.jpg" alt="">
                                <span class="sr-only">Get Directions</span>
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Location</h4>
                                <h4 class="subheading">
                                    <a href="https://goo.gl/maps/43A2iDx2PsG2" target="_blank" data-ga-event>
                                        White Birch Barn
                                    </a>
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <a href="https://goo.gl/maps/43A2iDx2PsG2" target="_blank" data-ga-event>7180 W Smith Rd, Medina, OH 44256</a>
                                </p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="https://goo.gl/maps/43A2iDx2PsG2" class="btn btn-success btn-lg" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                        Get Directions
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li id="hotel">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/images/timeline-hotel.jpg" alt="">
                            <span class="sr-only">Book Hotel</span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Hotel Accommodations</h4>
                                <h4 class="subheading">
                                    <span style="color:#cd9f01">Fairfield Inn Medina</span>
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <strong>Pastorelle-Bane Wedding Code: <code>PBW(S)</code></strong><br />
                                    $112/night — Book Online by June 15th<br />
                                    or <strong style="color:#cd9f01">Call to Book <span style="color:#c7254e;">by June 22nd</span></strong>: <a href="tel:1-330-722-1722">330-722-1722</a>
                                </p>
                                <p class="text-muted">
                                    <span class="glyphicon glyphicon-star" style="color:#cd9f01"></span>
                                    Shuttle bus will depart hotel <strong>at 3:45p</strong>
                                </p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="http://bit.ly/banerellehotel" class="btn btn-success btn-lg disabled" style="margin:5px" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-bed"></span>
                                        Book Online
                                    </a>
                                    <a href="tel:1-330-722-1722" class="btn btn-success btn-lg" target="_blank" style="margin:5px" data-ga-event>
                                        <span class="glyphicon glyphicon-phone-alt"></span>
                                        Call Hotel
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted" id="registry">
                        <div class="timeline-image">
                            <a href="http://registered.at/banerelle" target="_blank" data-ga-event>
                                <img class="img-circle img-responsive" src="/images/timeline-registry.jpg" alt="">
                                <span class="sr-only">View Registry</span>
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Our Registry</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    We are registered with Crate &amp; Barrel and Amazon.
                                </p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="http://registered.at/banerelle" class="btn btn-success btn-lg" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-gift"></span>
                                        View Registry
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li id="more">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/images/timeline-todo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>More Info</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    &bull; <strong>Free morning?</strong> Grab Coffee at Cool Beans Cafe in the Medina Square<br />
                                    &bull; <strong>Lunch plans?</strong>Get smoked wings &amp; craft beer from Lager Heads Brewing Company on Abbeyville Rd.<br />
                                    &bull; <strong>Have an Echo?</strong> Ask Alexa for a <a href="https://www.amazon.com/dp/B06Y13VGLG" target="_blank" data-ga-event>Wedding Fact</a>
                                        &amp; enable the <a href="https://www.amazon.com/dp/B06Y3M9C33" target="_blank" data-ga-event>Banerelle Countdown</a><br />
                                </p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="/faq" class="btn btn-success btn-lg" target="_blank" data-ga-event>
                                        <span class="glyphicon glyphicon-th-list"></span>
                                        Read our FAQs
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/images/timeline-bottom.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
