<!-- About Section -->
<section id="wedding" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Wedding</h2>
                <h3 class="section-subheading text-muted">Saturday July 15 2017</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e15/13643484_222756994792676_1262979342_n.jpg?ig_cache_key=NTg1ODAxMDU0MDMyMjI4MTU1.2" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Wedding</h4>
                                <h4 class="subheading">Evening Ceremony</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Cocktail Attire. Ceremony followed by cocktail hour then adult reception, dinner &amp; dancing.</p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="https://www.addevent.com/dir/?client=aGaZMVxnfzZNdtrgUmhf25032&start=07%2F15%2F2017+04%3A30+PM&end=07%2F15%2F2017+11%3A59+PM&title=Banerelle%20(Shayna%20%26%20Ryan)%20Wedding&location=White%20Birch%20Barn%207180%20W%20Smith%20Rd%2C%20Medina%2C%20OH%2044256&date_format=MM%2FDD%2FYYYY&timezone=America%2FNew_York" class="btn btn-success btn-lg">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        Add to Calendar
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13265874_1540613702911905_8533030304977566520_n.jpg?oh=65b07a697870a4d68044dd3abb5bafbc&oe=59101007" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Location</h4>
                                <h4 class="subheading">White Birch Barn</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <a href="https://goo.gl/maps/43A2iDx2PsG2">7180 W Smith Rd, Medina, OH 44256</a>
                                </p>
                                <p class="text-muted" style="padding-top:10px;">
                                    <a href="https://goo.gl/maps/43A2iDx2PsG2" class="btn btn-success btn-lg">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                        Get Directions
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e35/14026673_1579498925689059_1242362269_n.jpg?ig_cache_key=MTMyNjkyNjMzNTcwMDM2MDMzMA%3D%3D.2" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Hotel Accommodations</h4>
                                <h4 class="subheading">TBD</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"><!-- TODO: Add Address Link --></p>
                                <p class="text-muted">Uber is a great choice for transport. Sign up with invite code `ryanp1546` for your first ride free.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e15/13628371_273942909656156_425123982_n.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Things To Do</h4>
                                <h4 class="subheading">Find yourself with a free morning?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Grab Coffee at Cool Bean in the Medina Square.
                                    Preview the wedding chef at 111 Bistro at Rt 18 &amp; 71.
                                    Get smoked wings &amp; craft beer from Lager Heads Brewing Company on Abbeyville Rd.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://d3vv6lp55qjaqc.cloudfront.net/items/3N281u3X2u1H1Z2F2g2y/bottom-timeline.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
