<!doctype html>
<html class="no-js" lang="">
{% include "_includes/head.html" %}
<body class="internal-page">

    {% include "_includes/internal-navbar.html" %}
    {% include "_includes/internal-jumbotron.html" %}

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-md-8">

          <h1>Guest Book</h1>

          <article>
            <h3><em>Say hey, on our digital guest wall:</em></h3>
            <hr />
            <div id="GuestBookForm"></div>

            <hr />
            <div id="guest-messages">
              {% for post in data.messages %}
              <blockquote>
                {{post.message}}
                <small>{{post.name}} on {{ post.post_date|date("F jS Y") }}</small>
              </blockquote>
              {% endfor %}
            </div>
          </article>
        </div>

        <!-- Sidebar -->
        <div class="col-xs-12 col-md-4 side-nav">
          {% include "_includes/sidenav.html" %}
        </div>

      </div>

    </div>

    {% include "_includes/footer.html" %}
    {% include "_includes/scripts.html" %}
</body>
</html>
