<!doctype html>
<html class="no-js" lang="en">
{% include "_includes/head.html" %}
<body id="page-top" class="index">
    {% include "_includes/navbar.html" %}
    {% include "_includes/jumbotron.html" %}

    {% include "_includes/events.html" %}
    {% include "_includes/photos.html" %}
    {% include "_includes/wedding.html" %}
    {% include "_includes/party.html" %}
    {% include "_includes/guests.html" %}
    {% include "_includes/footer.html" %}

    {% include "_includes/scripts.html" %}
</body>
</html>
