<!doctype html>
<html class="no-js" lang="">
{% include "_includes/head.html" %}
<body class="internal-page">

    {% include "_includes/internal-navbar.html" %}
    {% include "_includes/internal-jumbotron.html" %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="internal-body col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ data.page.article|raw }}
                </div>
            </div>
            <div class="row">
                <!-- Sidebar -->
                <div class="col-xs-12">
                  {% include "_includes/sidenav.html" %}
                </div>
            </div>
        </div>
    </article>

    {% include "_includes/footer.html" %}
    {% include "_includes/scripts.html" %}
</body>
</html>
