<!doctype html>
<html class="no-js" lang="">
{% include "_includes/head.html" %}
<body>
    {% include "_includes/navbar.html" %}

    <!-- Main jumbotron -->
    <div class="jumbotron"></div>

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-md-8">

          <h1>{{ data.page.title }}</h1>

          <article>
            <p><span class="glyphicon glyphicon-calendar"></span> {{ data.page.post_date|date("M j, Y") }}</p>
            <hr>
            {{ data.page.article|raw }}
          </article>
        </div>

        <!-- Sidebar -->
        <div class="col-xs-12 col-md-4">
          {% include "_includes/sidenav.html" %}
        </div>

      </div>

      {% include "_includes/footer.html" %}
    </div>

    {% include "_includes/scripts.html" %}
</body>
</html>