<!doctype html>
<html class="no-js" lang="">
{% include "_includes/head.html" %}
<body>
    {% include "_includes/admin-navbar.html" %}
    {% if user %}
    {% include "_includes/admin-header.html" %}
    {% endif %}

    <div class="admin-body container">
        {% if user %}
        <ul>
            <li>
                <a href="/admin/page-editor">Page Editor</a>
            <li>
                <a href="/admin/page-inventory">Page Inventory</a>
            <li>
                <a href="/admin/guest-list">Guest List</a>
            <li>
                <a href="/admin/manage-rsvp">Manage RSVPs</a>
        </ul>
        {% endif %}
    </div>

    {% include "_includes/footer.html" %}
    {% include "_includes/scripts.html" %}
</body>
</html>
